<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.appweb2projetsession.mvc.controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionClinique</servlet-name>
        <servlet-class>com.appweb2projetsession.mvc.controller.InscriptionCliniqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionPatient</servlet-name>
        <servlet-class>com.appweb2projetsession.mvc.controller.InscriptionPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.appweb2projetsession.mvc.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.appweb2projetsession.mvc.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.appweb2projetsession.mvc.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionUser</servlet-name>
        <servlet-class>com.appweb2projetsession.mvc.controller.InscriptionUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.appweb2projetsession.mvc.controller.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InscriptionClinique</servlet-name>
        <url-pattern>/inscriptionClinique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionPatient</servlet-name>
        <url-pattern>/inscriptionPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionUser</servlet-name>
        <url-pattern>/inscriptionUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
