
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2022, 8:44:47 AM
    Author     : Robydul 
*/

* {
  box-sizing: border-box;


}

body {
  margin: 0;
  
}


.header {
  background-color: #1a1a1a;
  padding: 90px;
  text-align: center;
  text-color:white;
}
h1 {
  color: White;
}



.Titre{
    color: #f9f9f9;
}


.text{
    
}

.Paragraphe{
    text-justify: distribute;
    color: #f9f9f9;
}

.grid-container {
  display: grid;



}
.grid-item {
  background-color: #eeeeee;


  padding: 20px;
  font-size: 30px;
  text-align: center;
}




/*Image avec du texte*/

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 97%;
  padding: 10px;
}

/*Container1*/
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto;

  padding-top: 10px;
}
.grid-item1 {
background-color: #eeeeee;
  padding: 20px;
  font-size: large;
  text-align: center;
}


/*Container2*/


.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
background-color: #eeeeee;
  padding: 10px;
}

.grid-container2 > div {

  text-align: center;
  padding: 20px ;
  font-size: large;
}

.item2 {
  grid-row-start: 1;
  grid-row-end: 3;
}



/*center*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 padding-top: 25px;
 padding-bottom: 25px;
  width: 50%;
}




/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #1a1a1a;
  color: white;
}


/* Responsive layout */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }

}
